@{
    var authenticated = User.Identity.IsAuthenticated;
}

<div class="modal" id="@CssId.AppList">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row margin-bottom">
                    <span class="margin-horizontal">Bonjour, @(authenticated ? User.Identity.Name : "Identifiez-vous") !</span>
                    <button type="button" class="close pull-right margin-right" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="row">
                    @Html.AppIcon("RollDice", MVC.RollDice.RollADice(), CssClass.FontAwesome.RollDiceAppIcon)
                    @Html.AppIcon("Enigma", MVC.Cryptograph.Enigma(), CssClass.FontAwesome.EnigmaAppIcon)
                    @Html.AppIcon("Test", MVC.Test.Index(), CssClass.FontAwesome.TestAppIcon)

                    @Html.AppIcon("Profil", MVC.Account.EditAccountSettings(), CssClass.FontAwesome.ProfileAppIcon, authenticated)
                    @Html.AppIcon("Déconnexion", MVC.Account.Logout(), CssClass.FontAwesome.LogoutAppIcon, authenticated)
                    @Html.AppIcon("Connexion", MVC.Account.Login(), CssClass.FontAwesome.LoginAppIcon, !authenticated)
                </div>
            </div>
        </div>
    </div>
</div>