@{
    var authenticated = User.Identity.IsAuthenticated;
}

<div class="nav navbar-nav">
    @Html.ActionLink("Roldaice", MVC.Home.Index(), new { @class = "navbar-brand" })
    <a href="" class="navbar-link navbar-right" data-toggle="modal" data-target="#@CssId.AppList">
        <i class="fa fa-th"></i>
    </a>
    @if (authenticated)
    {
        <div class="navbar-link no-padding no-margin-horizontal navbar-right">
            <div class="image-overlay">
                <img class="@CssClass.Identicon image" data-hash="@User.Identity.GetIdenticonHash()" data-size="50" data-toggle="tooltip" title="Changer mon avatar" />
                <div class="overlay">
                    <a href="@Url.Action(MVC.Account.EditAccountSettings())">
                        <i class="@CssClass.FontAwesome.Profile"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>