@model Roldaice.Web.Models.Cryptograph.EnigmaModel
@{
    ViewBag.Title = "Enigma";
}

<h2>Enigma</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <i class="fa fa-cogs"></i> Configuration
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(MVC.Cryptograph.Enigma(), FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary()

            <div class="col-md-12 form-group">
                <div class="col-md-4 text-center">

                </div>
                <div class="col-md-4 text-center">
                    <span class="bold">Rotor selectionné</span>
                </div>
                <div class="col-md-4 text-center">
                    <span class="bold">Lettre de départ</span>
                </div>
            </div>
            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.SelectedRotor1, new { @class = "control-label col-md-4 text-left" })
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedRotor1, Model.AvailableRotors, new { @class = "form-control select-picker" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.StartingLetter1, new { maxlength = "1", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.SelectedRotor2, new { @class = "control-label col-md-4 text-left" })
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedRotor2, Model.AvailableRotors, new { @class = "form-control select-picker" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.StartingLetter2, new { maxlength = "1", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.SelectedRotor3, new { @class = "control-label col-md-4 text-left" })
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedRotor3, Model.AvailableRotors, new { @class = "form-control select-picker" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.StartingLetter3, new { maxlength = "1", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.WithRotation, new { @class = "control-label col-md-4 text-left" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(m => m.WithRotation, new { @class = "checkbox datatoggle" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.Text, new { @class = "control-label col-md-4 text-left" })
                <div class="col-md-8">
                    @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.Result, new { @class = "control-label col-md-4 text-left" })
                <div class="col-md-8">
                    @Html.TextAreaFor(m => m.Result, Html.Attributes(new { @class = "form-control" }, readOnly: true))
                </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check"></i> Valider</button>
        }
    </div>
</div>